* {
    font-size: 20px; 
    color: #333333;
    background-color: #f0f0ee;
    font-family: "Times New Roman", serif;
}

h1, h4 {
    background-color: #293a3a;
    color: #f0f0ee;
    text-align: center;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

a, p, li {
    color: #293a3a;
}

/* horizontally centres image */
img {
    display: block;
    margin: 0 auto;
}
